<div class="flash error" id="flash_error" style='display: none;'>Pola zaznaczone na czerwono są wymagane.</div>
<%= form_for 'testers', html: {id: 'tester-form'}, url: url_for(controller: 'testers', action: 'create') do |f| %>
  <div class="form-group row">
    <label for="select-project" class="col-sm-2 control-label"><%= l(:label_tab_project) %></label>
    <div class="col-sm-8">
      <%= f.select :project_id, options_from_collection_for_select(User.current.projects.where(status: Project::STATUS_ACTIVE), 'id', 'name', @p.try(:id)), { include_blank: true }, class: "selectize", id: 'select-project' %>
    </div>
  </div>
  <hr>
  <% if @p %>
    <div class="form-group row">
      <label for="project-priority" class="col-sm-2 control-label"><%= l(:label_form_priority) %></label>
      <div class="col-sm-1">
        <%= f.select :priority, Order::PRIORITIES.map{|priority| [ priority[1], priority[0] ]}, selected: 2, id: 'project-priority', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <label for="project-duration" class="col-sm-2 control-label"><%= l(:label_form_time_for_tests) %></label>
      <div class="col-sm-1">
        <%= f.number_field :project_duration_time, id: 'project-duration', class: 'form-control required', min: 1 %>
      </div>
    </div>

    <!-- persons -->

    <div class="form-group row">
      <label for="pm-id" class="col-sm-2 control-label"><%= l(:label_form_person_in_charge) %></label>
      <div class="col-sm-8">
        <%= f.select '[persons][pm]', options_from_collection_for_select(@p.users, 'name', 'name'), { include_blank: true }, class: 'selectize required', id: 'pm-id' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="pm-id" class="col-sm-2 control-label"><%= l(:label_form_frontend) %></label>
      <div class="col-sm-8">
        <%= f.select '[persons][frontend]', options_from_collection_for_select(@p.users, 'name', 'name'), { include_blank: true }, class: 'selectize required', id: 'fe-id' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="pm-id" class="col-sm-2 control-label"><%= l(:label_form_backend) %></label>
      <div class="col-sm-8">
      <%= f.select '[persons][backend]', options_from_collection_for_select(@p.users, 'name', 'name'), { include_blank: true }, class: 'selectize required', id: 'be-id' %>
      </div>
    </div>

    <!-- details -->

    <div class="form-group row">
      <label for="project-documentation" class="col-sm-2 control-label"><%= l(:label_form_link_to_specs) %></label>
      <div class="col-sm-8">
        <%= f.text_field '[details][documentation]', id: 'project-documentation', class: 'form-control', autocomplete: 'off' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="project-owncloud" class="col-sm-2 control-label"><%= l(:label_form_link_to_owncloud) %></label>
      <div class="col-sm-8">
        <%= f.text_field '[details][owncloud]', id: 'project-owncloud', class: 'form-control', autocomplete: 'off' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="project-test_environment" class="col-sm-2 control-label"><%= l(:label_form_link_to_test_env) %></label>
      <div class="col-sm-8">
        <%= f.text_field '[details][test_environment]', id: 'project-test_environment', class: 'form-control required', autocomplete: 'off' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="project-login_test" class="col-sm-2 control-label"><%= l(:label_form_login_to_test_env) %></label>
      <div class="col-sm-8">
        <%= f.text_field '[details][login_test]', id: 'project-login_test', class: 'form-control', autocomplete: 'off' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="project-password_test" class="col-sm-2 control-label"><%= l(:label_form_password_to_test_env) %></label>
      <div class="col-sm-8">
        <%= f.text_field '[details][password_test]', id: 'project-password_test', class: 'form-control', autocomplete: 'off' %>
      </div>
    </div>

    <!-- test ranges -->

    <div class="form-group row ">
      <label for='devices'class="col-sm-2 control-label"><%= l(:label_form_scopes_of_testing) %></label>
      <em class='info'><%= l(:label_form_choose_one) %></em>
      <div class="checkbox col-sm-8" id='devices'>
        <label>
          <%= f.check_box '[devices][desktop]', value: true, class: 'required' %>
          Desktop
        </label><br/>
        <label>
        <%= f.check_box '[devices][mobile]', value: true, class: 'required' %>
        Mobile
        </label><br/>
        <label>
        <%= f.check_box '[devices][tablet]', value: true, class: 'required' %>
        Tablet
        </label><br/>
        <label>
        <%= f.check_box '[devices][other]', value: true, class: 'required', id: 'other-device' %>
        <%= l(:label_form_other_type) %>
        <%= f.text_field '[devices][info]', id: 'other-device-info', disabled: true, autocomplete: 'off' %>
        </label>
      </div>
    </div>

    <!-- Additional information -->

    <div class="form-group row">
      <label for="project-workflow" class="col-sm-2 control-label"><%= l(:label_form_short_workflow) %></label>
      <div class="col-sm-8">
        <%= f.text_field :workflow, id: 'project-workflow', class: 'form-control', autocomplete: 'off' %>
      </div>
    </div>

    <div class="form-group row">
      <label for="project-additional_nfo" class="col-sm-2 control-label"><%= l(:label_form_additional_info) %></label>
      <div class="col-sm-8">
        <%= f.text_field :additional_information, id: 'project-additional_nfo', class: 'form-control required', autocomplete: 'off' %>
      </div>
    </div>
  <% end %>
<% end %>
<% if @p %>
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-8">
      <button class="btn btn-secondary" id='save-for-testers'><%= l(:label_form_zglos) %></button>
    </div>
  </div>
<% end %>
