<% @orders.each.with_index do |order, index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= link_to order.project.name, order.project %></td>
    <td><%= Order::STATUSES[order.status] %></td>
    <td><%= User.find(order.assigned_to).name %></td>
    <td><%= order.estimated_time %></td>
    <td><%= order.project.issues.visible.open.where(tracker_id: 1).count.to_s + ' / '
          + order.project.issues.visible.where(tracker_id: 1).count.to_s %></td>
  </tr>
<% end %>
